{{#if addNewQuestion}}
  <h2>New Question</h2>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author Name</label>
        {{input value=author id="author" class="form-control"}}
      </div>

      <div class="form-group">
        <label for="content">Content</label>
        {{input value=content id="content" class="form-control"}}
      </div>

      <div class="form-group">
        <label for="note">Additional note</label>
        {{input value=note id="note" class="form-control"}}
      </div>

      <button class="btn save-button"{{action 'saveQuestion'}}>Save</button>
    </form>
  </div>
{{else}}
  <button class="btn new-button"{{action 'questionFormShow'}}>New Question</button>
{{/if}}
