{{#if addNewComment}}
<h1>New Comment</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author" class="form-control"}}
      </div>
      <div class="form-group">
        <label for="content">Reply</label>
        {{input value=content id="content" class="form-control"}}
      </div>
      <button class='btn save-button'{{action 'saveComment'}}>Save</button>
    </form>
  </div>
{{else}}
  <button class="btn new-button"{{action 'commentFormShow'}}>New Comment</button>
{{/if}}
