<div class="question-content">
  <p><span class="labels">Author: </span>{{question.author}}</p>
  <p><span class="labels">Question: </span>{{question.content}}</p>
  <p><span class="labels">Note: </span>{{question.note}}</p>
</div>

{{update-question question=model update="update"}}

<button class="btn btn-danger"{{action 'delete' question}}>Delete Question</button>


<h3>Comments</h3>
<ul>
  {{#each question.comments as |comment|}}
    {{comment-tile comment=comment}}
  {{/each}}
</ul>
