{{#if updateQuestionForm}}
  <h4>Update {{question.author}}'s question</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author name</label>
        {{input value=author id="author" placeholder=question.author}}
      </div>

      <div class="form-group">
        <label for="content">Content</label>
        {{input value=content id="content" placeholder=question.content}}
      </div>

      <div class="form-group">
        <label for="note">Note</label>
        {{input value=note id="note" placeholder=question.note}}
      </div>

      <button {{action 'update' question}}>Save</button>
    </form>
  </div>
{{else}}
  <button class="btn btn-warning"{{action 'updateQuestionForm'}}>Edit question</button>
{{/if}}
