{{#if updateQuestionForm}}
  <h4>Update question</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author name</label>
        {{input value=author id="author" placeholder=question.author class="form-control"}}
      </div>

      <div class="form-group">
        <label for="content">Question</label>
        {{input value=content id="content" placeholder=question.content class="form-control"}}
      </div>

      <div class="form-group">
        <label for="note">Note</label>
        {{input value=note id="note" placeholder=question.note class="form-control"}}
      </div>

      <button class="btn save-button"{{action 'update' question}}>Save</button>
    </form>
  </div>
{{else}}
  <button class="btn new-button"{{action 'updateQuestionForm'}}>Edit question</button>
{{/if}}
